Repository ilmannafian04/fableous: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

build:frontend:
  stage: build
  image: node:alpine
  before_script:
  - cd fableous_fe
  script:
  - npm install
  - npm run build
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - fableous_fe/node_modules/
  artifacts:
    expire_in: 1 hour
    paths:
    - fableous_fe/build/

deploy-dev:frontend:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_fe
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-staging:frontend:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_fe
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-master:frontend:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_fe
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-dev:backend:wsgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-staging:backend:wsgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-master:backend:wsgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-dev:backend:asgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-staging:backend:asgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-master:backend:asgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

give canvas some background to tell how big it is and add temporary notes on canvas since ui is not final
  fableous_fe/src/containers/App.css
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/HomePage/CustomModal.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
  fableous_fe/src/containers/story/Story.jsx
  fableous_fe/src/index.css
  fableous_fe/src/index.jsx
  fableous_fe/src/logo.svg
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

set temporary fixed width
  fableous_fe/src/containers/story/Story.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

migrate to async consumer
  fableous_be/fableous/consumer.py
Due: deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

add countdown timer
  fableous_be/fableous/consumer.py
  fableous_fe/src/containers/story/CanvasDraw.jsx
  fableous_fe/src/utils/formatting.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

catch and disconnect if room does not exist
  fableous_be/fableous/consumer.py
Due: deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

refactor state management
  fableous_be/fableous/consumer.py
  fableous_be/fableous/views.py
  fableous_fe/src/containers/story/CanvasDraw.jsx
  fableous_fe/src/containers/story/Lobby.jsx
  fableous_fe/src/utils/formatting.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

use helper instead of raw connection
  fableous_be/fableous/consumer.py
  fableous_be/fableous/views.py
Due: deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

Added text transform (width)
  fableous_fe/src/components/TextAreaComponent/TextAreaComponent.jsx
  fableous_fe/src/components/TransformerComponent/TransformerComponent.jsx
  fableous_fe/src/containers/CanvasText/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Fix mobile soft keyboard
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/components/TextAreaComponent/TextAreaComponent.jsx
  fableous_fe/src/components/TransformerComponent/TransformerComponent.jsx
  fableous_fe/src/containers/App/App.css
  fableous_fe/src/containers/CanvasText/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

implement countdown functionality
  fableous_be/fableous/consumer.py
  fableous_be/fableous/views.py
  fableous_fe/src/containers/story/CanvasDraw.jsx
  fableous_fe/src/containers/story/Lobby.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

add erase functionality
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

CanvasText2 and 3 test
  fableous_fe/src/components/TextAreaComponent/TextAreaComponent.jsx
  fableous_fe/src/components/TransformerComponent/TransformerComponent.jsx
  fableous_fe/src/containers/App/App.css
  fableous_fe/src/containers/App/App.jsx
  fableous_fe/src/containers/CanvasText2/CanvasText2.js
  fableous_fe/src/containers/CanvasText3/CanvasText3.jsx
  fableous_fe/src/helper/CanvasHelperFunctions/Line.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Test canvas 2 and 3 for text
  fableous_fe/src/helper/CanvasHelperFunctions/Line.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

WIP: HUB
  fableous_fe/src/containers/story/CanvasHub.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

improve performance onTransform
  fableous_fe/package.json
  fableous_fe/src/containers/App/App.css
  fableous_fe/src/containers/App/App.jsx
  fableous_fe/src/containers/CanvasText2/CanvasText2.js
  fableous_fe/src/containers/CanvasText3/CanvasText3.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Refine textarea
  fableous_fe/src/containers/CanvasText2/CanvasText2.js
  fableous_fe/src/containers/CanvasText3/CanvasText3.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

remove canvas hub
  fableous_fe/src/containers/story/CanvasHub.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Add brush functionality
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Added colorbar
  fableous_fe/src/containers/story/CanvasComponent/ColorBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Refactor canvasDraw
  fableous_fe/src/components/AutoTextAreaComponent/AutoTextAreaComponent.jsx
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/App/App.jsx
  fableous_fe/src/containers/CanvasText/CanvasText.jsx
  fableous_fe/src/containers/CanvasText3/CanvasText3.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Refactor routing
  fableous_fe/src/containers/App.css
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/App/App.jsx
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/CanvasText/CanvasText.jsx
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/Lobby.jsx
  fableous_fe/src/containers/StoryPage/StoryPage.jsx
  fableous_fe/src/index.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Canvas layout fixed with sidebar and colorpicker
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/CanvasLayout/CanvasLayout.jsx
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/Toolbrush.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

finish layouting and bind the functionality
  fableous_fe/package.json
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/CanvasLayout/CanvasLayout.jsx
  fableous_fe/src/containers/story/CanvasComponent/ColorBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/Toolbrush.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

clean unused variables
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/story/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/Toolbrush.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Fixed sidebar icons
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

refactor consumer and save final player state for future uses
  fableous_be/fableous/consumer.py
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/containers/story/CanvasDraw.jsx
  fableous_fe/src/containers/story/Lobby.jsx
  fableous_fe/src/containers/story/Story.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

Fixed sidebar icons sizes and color
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

change what canvas to be displayed when drawing
  fableous_fe/src/containers/story/DrawPage.jsx
  fableous_fe/src/containers/story/Story.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

add text handler and hub
  fableous_be/fableous/consumer.py
Due: deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

integrate sidebar to canvas
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/CanvasLayout/CanvasLayout.jsx
  fableous_fe/src/containers/story/CanvasComponent/ColorBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/Toolbrush.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

fix ci
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/CanvasLayout/CanvasLayout.jsx
  fableous_fe/src/containers/story/CanvasComponent/ColorBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/story/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

fix bug on sidebar
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/Toolbrush.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

add backend for authentication
  dev-compose.yml
  fableous_be/fableous/consumer.py
  fableous_be/fableous/migrations/0001_initial.py
  fableous_be/fableous/models.py
  fableous_be/fableous/views.py
  fableous_be/fableous_be/settings.py
  fableous_be/fableous_be/urls.py
Due: deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

add interceptor for jwt
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/index.jsx
  fableous_fe/src/utils/jwtInterceptor.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

add skeleton and functionality form sign in and sign up
  fableous_be/fableous/urls.py
  fableous_be/fableous/views.py
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/authentication/SignIn.jsx
  fableous_fe/src/containers/authentication/SignUp.jsx
  fableous_fe/src/utils/jwtInterceptor.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

add rotate screen
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/screenRotate.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

store token on fe
  fableous_be/fableous/urls.py
  fableous_be/fableous/views.py
  fableous_fe/src/containers/authentication/SignIn.jsx
  fableous_fe/src/utils/jwtInterceptor.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

WIP refine lobby page
  fableous_fe/src/containers/StoryPage/Lobby.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Move sidebar
  fableous_fe/src/components/AutoTextAreaComponent/AutoTextAreaComponent.jsx
  fableous_fe/src/components/TextAreaComponent/TextAreaComponent.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Fixed sidebar icons sizes and color
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/Toolbrush.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Path conditions:
  build:frontend: any of: fableous_fe/**/*
  deploy-dev:frontend: any of: fableous_fe/**/*
  deploy-staging:frontend: any of: fableous_fe/**/*
  deploy-master:frontend: any of: fableous_fe/**/*
  deploy-dev:backend:wsgi: any of: fableous_be/**/*
  deploy-staging:backend:wsgi: any of: fableous_be/**/*
  deploy-master:backend:wsgi: any of: fableous_be/**/*
  deploy-dev:backend:asgi: any of: fableous_be/**/*
  deploy-staging:backend:asgi: any of: fableous_be/**/*
  deploy-master:backend:asgi: any of: fableous_be/**/*
