Repository ilmannafian04/fableous: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

build:frontend:
  stage: build
  image: node:alpine
  before_script:
  - cd fableous_fe
  script:
  - npm install
  - npm run build
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - fableous_fe/node_modules/
  artifacts:
    expire_in: 1 hour
    paths:
    - fableous_fe/build/

deploy-dev:frontend:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_fe
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-staging:frontend:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_fe
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-master:frontend:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_fe
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-dev:backend:wsgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-staging:backend:wsgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-master:backend:wsgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-dev:backend:asgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-staging:backend:asgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

deploy-master:backend:asgi:
  image: docker
  stage: deploy
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cd fableous_be
  script:
  - docker pull $CI_IMAGE_NAME:$BRANCH_TAG || true
  ...

finish styling sign in and sign up
  fableous_fe/src/containers/authentication/SignIn.jsx
  fableous_fe/src/containers/authentication/SignUp.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Fix color picker position and canvas styling
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Fix layering in canvas hub, and sidebar
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Centered canvas and removing whitespace
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

setting up recoil and sign in sign up routing
  fableous_be/fableous/migrations/0001_initial.py
  fableous_be/requirements.txt
  fableous_fe/src/atom/userAtom.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

Minor fix button
  fableous_fe/src/assets/icons/background.png
  fableous_fe/src/assets/icons/character.png
  fableous_fe/src/assets/icons/hub.png
  fableous_fe/src/assets/icons/story.png
  fableous_fe/src/containers/StoryPage/Lobby.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

routing fix, homepage improvement on login
  dev-compose.yml
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/containers/App/App.jsx
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/authentication/SignIn.jsx
  fableous_fe/src/containers/authentication/SignUp.jsx
  fableous_fe/src/index.jsx
  package-lock.json
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

added styling to page buttons
  fableous_fe/src/containers/StoryPage/Lobby.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Created gallery page
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/Gallery/Gallery.jsx
  fableous_fe/src/containers/Gallery/GalleryAppBar.jsx
  fableous_fe/src/containers/Gallery/GalleryChip.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

allow to upload story page
  fableous_be/fableous/migrations/0002_story_storypage_storytag.py
  fableous_be/fableous/migrations/0003_auto_20201027_1854.py
  fableous_be/fableous/models.py
  fableous_be/fableous/views.py
  fableous_be/fableous_be/settings.py
Due: deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

Minor fix unused vars
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Revert "Merge branch 'canvas-hub' into 'master'"
  fableous_be/fableous/consumer.py
  fableous_be/fableous/views.py
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/assets/icons/background.png
  fableous_fe/src/assets/icons/character.png
  fableous_fe/src/assets/icons/hub.png
  fableous_fe/src/assets/icons/story.png
  fableous_fe/src/components/AutoTextAreaComponent/AutoTextAreaComponent.jsx
  fableous_fe/src/components/TextAreaComponent/TextAreaComponent.jsx
  fableous_fe/src/components/TransformerComponent/TransformerComponent.jsx
  fableous_fe/src/constant/ScreenRatio.js
  fableous_fe/src/containers/App.css
  fableous_fe/src/containers/App.jsx
  fableous_fe/src/containers/App/App.css
  fableous_fe/src/containers/App/App.jsx
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/ColorBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/Toolbrush.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/screenRotate.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
  fableous_fe/src/containers/story/CanvasDraw.jsx
  fableous_fe/src/containers/story/Lobby.jsx
  fableous_fe/src/containers/story/Story.jsx
  fableous_fe/src/helper/CanvasHelperFunctions/calculateHeightBasedOnRatio.js
  fableous_fe/src/helper/CanvasHelperFunctions/calculateScale.js
  fableous_fe/src/helper/CanvasHelperFunctions/normalizePoint.js
  fableous_fe/src/index.css
  fableous_fe/src/index.jsx
  fableous_fe/src/utils/formatting.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

merge branch 'staging'
  fableous_fe/package-lock.json
  fableous_fe/package.json
  fableous_fe/src/atom/socketAtom.js
  fableous_fe/src/atom/storyAtom.js
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/Lobby.jsx
  fableous_fe/src/containers/StoryPage/StoryPage.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

migrate to poetry
  fableous_be/poetry.lock
  fableous_be/poetry.toml
  fableous_be/pyproject.toml
  fableous_be/requirements.txt
Due: deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

more refactoring state
  fableous_fe/src/atom/storyAtom.js
  fableous_fe/src/containers/StoryPage/Lobby.jsx
  fableous_fe/src/containers/StoryPage/StoryPage.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/PageBar.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

more refactoring
  fableous_fe/src/containers/StoryPage/StoryPage.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/screenRotate.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

WIP gallery details image
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/gallery/GalleryComponent/BottomBar.jsx
  fableous_fe/src/containers/gallery/GalleryComponent/Navbar.jsx
  fableous_fe/src/containers/gallery/display.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Canvas styling
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

allow upload page result
  fableous_be/fableous/consumer.py
  fableous_be/fableous/models.py
  fableous_be/fableous/views.py
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

Update assets
  fableous_fe/public/favicon.ico
  fableous_fe/public/index.html
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Temporarily commit to pull from upload
  fableous_fe/src/Lobby/lobby.jsx
  fableous_fe/src/containers/StoryPage/Lobby.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

finish display page, hardcode image
  fableous_fe/src/containers/gallery/GalleryComponent/BottomBar.jsx
  fableous_fe/src/containers/gallery/GalleryComponent/Navbar.jsx
  fableous_fe/src/containers/gallery/display.jsx
  fableous_fe/src/containers/gallery/stock/test1.png
  fableous_fe/src/containers/gallery/stock/test2.png
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Add destroy canvas
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

implement gallery functionality
  fableous_be/fableous/urls.py
  fableous_be/fableous/views.py
  fableous_be/fableous_be/settings.py
  fableous_be/fableous_be/urls.py
  fableous_fe/src/components/GalleryCard/GalleryCard.jsx
  fableous_fe/src/containers/Gallery/Gallery.jsx
  fableous_fe/src/containers/Gallery/GalleryAppBar.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

implement gallery detail
  fableous_be/fableous/views.py
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/gallery/GalleryComponent/BottomBar.jsx
  fableous_fe/src/containers/gallery/display.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

Clear canvas
  fableous_fe/src/containers/Gallery/Gallery.jsx
  fableous_fe/src/containers/StoryPage/Lobby.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

before stand up commit
  fableous_be/fableous/consumer.py
  fableous_fe/src/containers/Gallery/GalleryAppBar.jsx
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/StoryPage.jsx
  fableous_fe/src/containers/gallery/GalleryComponent/BottomBar.jsx
  fableous_fe/src/containers/gallery/display.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

big improvement to all feat
  fableous_be/fableous/consumer.py
  fableous_be/fableous/views.py
  fableous_be/fableous_be/settings.py
  fableous_fe/public/index.html
  fableous_fe/src/atom/storyAtom.js
  fableous_fe/src/containers/Gallery/Gallery.jsx
  fableous_fe/src/containers/Gallery/GalleryAppBar.jsx
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/StoryPage.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
  fableous_fe/src/containers/gallery/display.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

canvas refinement
  fableous_fe/src/containers/HomePage/CustomChip.jsx
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/Lobby.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/SideBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
  fableous_fe/src/helper/CanvasHelperFunctions/calculateHeightBasedOnRatio.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

Attempt
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/helper/CanvasHelperFunctions/calculateHeightBasedOnRatio.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

lmao
  fableous_fe/src/constant/ScreenRatio.js
  fableous_fe/src/containers/App/App.jsx
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/StoryPage/StoryPage.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/MenuAppBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasComponent/PageBar.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasDraw.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/helper/CanvasHelperFunctions/calculateHeightBasedOnRatio.js
  fableous_fe/src/helper/CanvasHelperFunctions/calculateScale.js
  fableous_fe/src/helper/CanvasHelperFunctions/normalizePoint.js
  fableous_fe/src/helper/CanvasHelperFunctions/normalizeToLocal.js
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

enhancement
  fableous_be/fableous/consumer.py
  fableous_be/poetry.lock
  fableous_be/pyproject.toml
  fableous_fe/src/containers/HomePage/HomePage.jsx
  fableous_fe/src/containers/StoryPage/Lobby.jsx
  fableous_fe/src/containers/StoryPage/canvas/Canvas.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend, deploy-dev:backend:wsgi, deploy-staging:backend:wsgi, deploy-master:backend:wsgi, deploy-dev:backend:asgi, deploy-staging:backend:asgi, deploy-master:backend:asgi

moving gallery content to temp folder to fix git case insensitive issue
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/temp/Gallery.jsx
  fableous_fe/src/containers/temp/GalleryAppBar.jsx
  fableous_fe/src/containers/temp/GalleryChip.jsx
  fableous_fe/src/containers/temp/GalleryComponent/BottomBar.jsx
  fableous_fe/src/containers/temp/GalleryComponent/Navbar.jsx
  fableous_fe/src/containers/temp/display.jsx
  fableous_fe/src/containers/temp/stock/test1.png
  fableous_fe/src/containers/temp/stock/test2.png
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

move back gallery content
  fableous_fe/src/containers/App/routes.js
  fableous_fe/src/containers/gallery/Gallery.jsx
  fableous_fe/src/containers/gallery/GalleryAppBar.jsx
  fableous_fe/src/containers/gallery/GalleryChip.jsx
  fableous_fe/src/containers/temp/GalleryComponent/BottomBar.jsx
  fableous_fe/src/containers/temp/GalleryComponent/Navbar.jsx
  fableous_fe/src/containers/temp/display.jsx
  fableous_fe/src/containers/temp/stock/test1.png
  fableous_fe/src/containers/temp/stock/test2.png
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

do the job that should be done long ago
  package-lock.json
Due: none

this is why you shouldnt have code duplication
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

fix scaling issue
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasText.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

fix placeholder image for gallery
  fableous_fe/src/assets/placeholder.png
  fableous_fe/src/components/GalleryCard/GalleryCard.jsx
  fableous_fe/src/containers/StoryPage/canvas/CanvasHub.jsx
  fableous_fe/src/containers/gallery/display.jsx
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

update document
  .gitignore
  INSTRUCTION.md
  README.md
  fableous_fe/README.md
Due: build:frontend, deploy-dev:frontend, deploy-staging:frontend, deploy-master:frontend

update readme
  README.md
Due: none

Path conditions:
  build:frontend: any of: fableous_fe/**/*
  deploy-dev:frontend: any of: fableous_fe/**/*
  deploy-staging:frontend: any of: fableous_fe/**/*
  deploy-master:frontend: any of: fableous_fe/**/*
  deploy-dev:backend:wsgi: any of: fableous_be/**/*
  deploy-staging:backend:wsgi: any of: fableous_be/**/*
  deploy-master:backend:wsgi: any of: fableous_be/**/*
  deploy-dev:backend:asgi: any of: fableous_be/**/*
  deploy-staging:backend:asgi: any of: fableous_be/**/*
  deploy-master:backend:asgi: any of: fableous_be/**/*
